* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: outfit, sans-serif;
}

header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

main {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: space-between;
}
